.root{
    margin: 0%;
}

.body{
    margin: 0%;
}
.swiggybackground{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1350px;
    height: 800px;
    margin: 0px;
    background-color: rgb(255, 82, 0);
}

.swiggyicon{
position: absolute;
top: 35px;
left: 145px;
width: 160px;
height: 50px;
border-radius: 1px;

}

.corporates{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 45px;
    left: 610px;
    
}

.corporates2{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 45px;
    left: 770px;
}

.corporates4{
    /* display: inline-block; */
    color: aliceblue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    top: 40px;
    left: 925px;

}

.corporates3{
    /* display: inline-block; */
    width: 140px;
    height: 50px;
    background-color: rgb(255, 82, 0);
    position:absolute;
     top: 43px;
    left: 910px;
    border-radius:10px ;
    border: 1px solid white;
    
}

.arrow{
    position: absolute;
    top: 59px;
    left: 1015px;
}

.corporates5{
    /* display: inline-block; */
    width: 120px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    position:absolute;
     top: 43px;
    left: 1085px;
    border-radius:15px ;
    /* border: 1px solid white; */
    
}


.corporates6{
    /* display: inline-block; */
    color: aliceblue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    top: 33px;
    left: 1120px;

}

.veg{
    width: 250px;
    height: 500px;
    position: absolute;
    top: 100px;
    left: 0px;
}

.veg1{
    width: 250px;
    height: 500px;
    position: absolute;
    top: 100px;
    right: 0px;
}

.corporates7{
    /* display: inline-block; */
    color: aliceblue;
    font-size: 47px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    top: 75px;
    left:340px;

}

.corporates8{
    /* display: inline-block; */
   /* max-width:295px; */
   width:295px;
    height: 60px;
    background-color:white;
    position:absolute;
     top: 340px;
    left: 300px;
    border-radius:15px ;
    border: 1px solid white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(163, 162, 162);
    cursor: pointer;
}


.gps{
    position: absolute;
    top: 355px;
    left: 317px;
   
}

.gps1{
    position: absolute;
    top: 362px;
    left: 555px;


}

.corporates9{
    /* display: inline-block; */
   /* max-width:295px; */
   width:470px;
    height: 60px;
    background-color:white;
    position:absolute;
     top: 340px;
    left: 615px;
    border-radius:15px ;
    border: 1px solid white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(163, 162, 162);
    cursor: pointer;
    
}


.search{

font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(150, 149, 149);
    position:absolute;
     top: 335px;
    left: 635px;
}

.gps2{
    position: absolute;
    top: 358px;
    left: 1040px;


}

.food{
width: 350px;
height: 320px;
position: absolute;
top: 430px;
left: 130px;


}

.food1{
width: 350px;
height: 320px;
position: absolute;
top: 430px;
left: 485px;


}

.food2{
width: 350px;
height: 320px;
position: absolute;
top: 430px;
left: 840px;


}

.scroll{

    position: absolute;
    top: 760px;
    left:120px; 
    width: 1092px;
    height: 15px;
    margin: 0px;
    background-color: rgb(255, 255, 255); 
}

.swiggybackground2{
    /* position: absolute; */
    /* top: 0px;
    left: 0px; */
    width: 1200px;
    height: 3000px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}


.selectarrow{
    position: absolute;
    left: 1073px;


}

.selectarrow2{
    position: absolute;
    left: 1px;


}

.menus{
width:1040px;
height: 350px;
background-color: red;
position: absolute;
top: 930px;
left: 150px;

}

.click1{
    width: 170px;
    height: 170px;
    position: absolute;
    left: 10px;

}


body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.slider {
    width: 800px;
    overflow: hidden;
}

.track {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.item {
    text-align: center;
    min-width: 140px;
}

.item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.arrow {
    background: #eee;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.arrow:hover {
    background: #ddd;
}





.home2{


    position: absolute;
    top: 0px;
    left: 0px;
     width: 1549px;
     height: 100px;
     background-color: blueviolet;

}

.logo3{

width: 15px;
height: 40x;


}
